body
{
    background-image: url("Deep\ Space.jpg");
}
.container
{
    width:600px;
    height:300px;
    margin-left: 460px;
    margin-top:270px;
    border: 2px solid rgb(78, 74, 74);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: inset 2px 2px 2px 2px #9a8f8f,
                      2px 2px 2px 2px #9a8f8f;
}
.container1
{
    color:White;
    font-size: 90px;
    padding-left: 150px;
    padding-top:80px;
    display: inline-block;
}
.ibox
{
    color:white;
    font-size: 35px;
    margin-left:200px;
    margin-top: 30px;
    font-family: fantasy;
}

